@font-face {
    font-family: 'eras_demi_itcregular';
    src: url('font/erasdemi-webfont.woff2') format('woff2'),
         url('font/erasdemi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #c691ff;
    height: 100px;
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style: none;

}

#logo {
    background-color: transparent;
}

#logo:after {
    background-color: transparent;
}

#logo img {
    height: 20px;
    width: 50px;
}

#logo img {
    transform: scale(8);
    position: relative;
    left: 50px;
}

nav ul li a {
    text-decoration: none;
}

nav ul li a{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

nav ul li a:after{
    content: "";
    position: absolute;
    background-color: #5a57ff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #ffffff;
}

nav ul li a:hover:after{
    width: 100%;
}

section {
    background-color: rgb(76, 20, 128);
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

/********* BUTTON  ********/

.btn_validate {
    padding: 10px 15px;
    background-color: #53c426;
    border: none;
}

.btn_validate:hover {
    background-color: #4ee029;
    cursor: pointer;
}

/********* PAGINATE ********/

.paginate {
    background-color: #520ec5;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn_paginate {
    background-color: #9e48f9;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn_paginate2 {
    background-color: #793eb9;
    padding: 10px 20px;
    border-radius: 5px;
}

/********* LOGIN ********/

.login {
    height: 90vh;
    background-color: #19052b;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login h1 {
    padding: 10px;
}

.form-login form{
    background-color: #520ec5;
    border-radius: 20px;
    width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 20px 10px;
}

.form-login label {
    margin: 20px 10px;
}

.form-login input {
    margin: 20px 10px;
    height: 30px;
    font-size: 15px;
    padding-left: 10px;
}

.form-login a {
    color: #fff;
}

.form-login a:hover {
    color: #DE5A7E;
}

.form-login div {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

.form-login button {
    width: 150px;
}


/********* FOOTER ********/

footer {
    background-color: #9e48f9;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer nav ul {
    background-color: transparent;
}

footer li {
    font-size: 15px;
    padding: 0 20px;
}

footer p {
    font-size: 12px;
    padding-top: 50px;
    color: #fff;
}

footer nav ul li{
    position: relative;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    margin: 0 10px;
}

footer nav ul li:after{
    content: "";
    position: absolute;
    background-color: #b5b4ff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

footer nav ul li:hover{
    cursor: pointer;
    color: #ffffff;
}

footer nav ul li:hover:after{
    width: 100%;
}


/********* VIDEO ********/

.video-part {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/********* ACCEUIL ********/

/**** LES DERNIERES SORTIES ****/

.last_series {
    background: linear-gradient(45deg, #DE5757, #DE5A7E, #DB76D7, #7260BF, #33a8a4);
	background-size: 600% 100%;
	animation: gradient 5s linear infinite;
	animation-direction: alternate;
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

}

@keyframes gradient {
	0% {
		background-position: 0;
	}

	100% {
		background-position: 100%;
	}
}

.last_series h2 {
    margin: 10px;
    text-transform: uppercase;
    color: #fff;
}

.last-series-container {
    max-width: 100%;
    display: flex;
    overflow-x: auto;
}

/* .last-series-container::-webkit-scrollbar {
    width: 0;
} */

.last_serie {
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    width: 300px;
    margin: 10px;
    padding: 0 20px;
}

.last_serie h3 {
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
}

.last-cover-serie {
    background-size: cover;
}

.last-cover-serie img {
   width: 100%;
   background-size: contain;
}

.date-link-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-link-more p {
    color: #fff;
    font-size: 12px;
}

.date-link-more a {
    background-color: burlywood;
    margin: 0;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.date-link-more a:hover {
    background-color: rgb(253, 192, 80);
}

/**** LES PLUS VISIONNÉES ****/

.seen_series {
    background-color: #520ec5;
    height: 700px;
    padding: 0 100px;
    display: flex;
    align-items: center;
}

#title-seen-series {
    background-color: rgb(53, 53, 175);
    padding: 0;
    margin: 0;
    transform: rotate(-90deg);
    height: 0px;
    width: 200px;
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.seen-serie-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.seen_serie {
    background-color: #8d11ce;
    width: 250px;
    height: 100%;
    padding: 20px;
    display: flex;
    margin: 0 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease-in-out;
}

.seen_serie:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.seen_serie img {
    width:250px;
}

/**** LES MEILLEURS NOTES ****/

.best_note {
    background: rgb(158,72,249);
    background: linear-gradient(45deg, rgba(158,72,249,1) 0%, rgba(82,14,197,1) 100%);
    display: flex;
    flex-direction: column;
    padding: 20px 100px;
}

.best_note h2 {
    text-transform: uppercase;
    color: #fff;
}

.best-note-container {
    border: 3px solid #7260BF;
    background-color: #c1b4fd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 20px;
    transition: 0.2s ease-in-out;
}

.best-note-container:hover {
    cursor: pointer;
    background-color: #7260BF;
}

.link-best-note {
    border-radius: 20px;
}

.note_serie {
    background-color: #8d11ce;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    margin: 10px;
    height: 100%;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.note_serie > img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}

.best_note ul {
    padding: 10px 0;
    margin: 10px;
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best_note li {
    list-style: none;
}

.best_note li img {
    transform: translateZ(50px);
    padding: 0;
    margin: 0;
    width: 27px;
    height: 27px;
}

.link-series-more {
    background-color: #19052b;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-series-more a {
    background-color: rgb(39, 39, 39);
    padding: 15px 10px;
    text-decoration: none;
    color: #fff;
}

.link-series-more a:hover {
    background-color: rgb(248, 51, 94);
}

/********* SERIE SEUL ********/


.add-com {
    display: flex;
    justify-content: center;
    background-color: #19052b;
}

.add-com form {
    background-color: #520ec5;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.add-com form input[type="number"] {
    width: 30px;
}

.add-com form input[type="number"] {
    width: 30px;
}

.add-com form textarea {
    width: 80%;
}

.add-com form input[type="submit"] {
    width: 100px;
}


/****  ****/

.serie-details {
    width: 100%;
    background-color: #19052b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.serie-details-container {
    background-color: #520ec5;
    padding: 100px 0;
    width: 80%;
    display: flex;
}

.serie-details-img-title {
    width: 50%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.serie-details-img-title img {
    width: 200px;
}

.serie-resume-container {
    background-color: #9e48f9;
    padding: 10px;
    width: 50%;
    height: 500px;
}

.serie-resume-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.serie-details-comments {
    background-color: darkorchid;
    width: 80%;
    text-align: left;
}

.comments-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    background-color: darkseagreen;
}

.comments-title h4 {
    font-size: 20px;
    width: 100px;
}

.serie-details-comments table {
    border: 2px solid #000;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;    
}

.serie-details-comments th, td{
    width: 50%;
    border: 2px solid #000;
    vertical-align: top;
    padding: 0.3em;
}

.serie-details-form  form{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.serie-details-form input[type="radio"].demo3 {
    display: none;
}

.serie-details-form input[type="radio"].demo3 + label {
    display:none;
    border: 1px solid #000;
    padding: 0.5rem 1rem;
    min-width:50px;
    text-align:center;
}

.serie-details-form input[type="radio"].demo3:checked + label {
    display: inline-block;
}

/* ALL COMMENTS */

.comment-section {
    background-color: #dd8686;
    display: none;
}

.is-visible {
    display:block;
}

.all-comments {
    background-color: rgb(10, 10, 168);
}

.all-comments ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.all-comments ul li {
    border-bottom: 2px solid #dbd5d5;
    padding: 10px;
    margin: 5px 0;
}

.all-comments ul li:hover {
    background-color: #5e5b5b;
}

.validate-comments {
    background-color: rgb(76, 76, 168);
}

.validate-comments ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.validate-comments ul li {
    border-bottom: 2px solid #dd8686;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.validate-comments ul li:hover {
    background-color: #b63030;
}

.validate-comments ul li a{
    background-color: #af7272;
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
}

.validate-comments ul li a:hover{
    background-color: #975757;
}

/*  */

.serie h2 {
    margin: 10px;
    text-transform: uppercase;
}

.series-container {
    display: flex;
    justify-content: center;
    background-color: #9e48f9;
    height: 100%;
    flex-wrap: wrap;
}

.serie {
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

    border-radius: 20px;
    width: 300px;
    margin: 10px;
    padding: 20px;
}

.serie h3 {
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 0 15px 0;
    margin: 0;
}

.cover-serie {
    background-color: burlywood;
    background-size: cover;
    height: 400px;
}

.cover-serie img {
   height: 100%;
   width: 100%;
   background-size: contain;
   border-radius: 0 15px 15px 15px;
}

.genre-link-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.genre-link-more a {
    background-color: burlywood;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}


/* DASHBOARD PROFIL */

.profil {
    background-color: #19052b;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.details-profil {
    background: rgb(158,72,249);
    background: linear-gradient(45deg, rgba(158,72,249,1) 0%, rgba(82,14,197,1) 100%);
    width: 80%;
    height: 350px;
    border-radius: 20px;
    padding: 30px;
    margin: 30px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.details-profil img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.details-profil input[type="submit"] {
    background-color: #ac1d1d;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    transition: 0.5 ease-in-out;
}

.details-profil input[type="submit"]:hover {
    background-color: #e02929;
    cursor: pointer;
    color: #fff;
}

.filter-genre-profil {
    background-color: #DE5A7E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.all-series {
    background-color: #520ec5;
    width: 80%;
    padding: 30px;
    display: flex;
    justify-content: stretch; 
    flex-wrap: wrap;
}

.select {
    padding: 10px 15px;
    color: #dbd5d5;
    background-color: rgb(124, 115, 163);
    border: 1px solid #ffffff;
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: 150px;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

    background-image: url(/img/icons/select.svg);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: right 20px top 50%;
}

.select:focus,
.select:hover {
    background-color: #ffffff;
}

.select option {
    background-color: #ffffff;
}

.serie-solo-profil {
    padding: 10px;
}

.serie-solo-profil img {
    width: 200px;
}