
body {
    margin: 0;
    padding: 0;
}

section {
    background-color: rgb(76, 20, 128);
    height: 100vh;
}

/********* ACCEUIL ********/

/**** LES DERNIERES SORTIES ****/

.last_series {
    background-color: rgb(43, 226, 125);
    padding: 0 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.last_series h2 {
    margin: 10px;
    text-transform: uppercase;
}

.last-series-container {
    display: flex;
}

.last_serie {
    background-color: rgb(196, 135, 253);
    border-radius: 20px;
    width: 300px;
    margin: 10px;
    padding: 0 20px;
}

.last_serie h3 {
    text-transform: uppercase;
}

.last-cover-serie {
    background-color: burlywood;
    background-size: cover;
    height: 400px;
}

.last-cover-serie img {
   height: 100%;
   width: 100%;
   background-size: contain;
}

.date-link-more{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date-link-more a {
    background-color: burlywood;
    padding: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

/**** LES PLUS VISIONNÉES ****/

.best_seen {
    background-color: rgb(135, 222, 167);
    padding: 0 50px;
    display: flex;

    align-items: center;
    height: 300px;
}

.best_seen h2 {
    transform: rotate(-90deg);
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    background-color: burlywood;
    max-height: 30px;
    max-width: 100%;
}

.best-seen-container {
    background-color: rgb(40, 62, 190);
    height: 100%;
    display: flex;
    align-items: center;
}

.seen_serie {
    background-color: chocolate;
    width: 500px;
    padding: 20px;
    height: 200px;
    border-radius: 20px;
}

.seen_serie img {
    width: 100%;
    height: 200px;
    object-fit: none;
}

.best_seen ul {
    /* background-color: cornflowerblue; */
    position: relative;
    top: -210px;
    margin: 0 0 0 200px;
    padding: 0;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.best_seen li {
    list-style: none;
}

.best_seen li img {
    transform: scale(0.5);
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: crimson;
}
